html{
	background: url(../pics/Chrysanthemum.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: lighten;
}

h1{
	color: blue;
}

/*Menu section*/
ul{
	list-style-type: none;
	background-color: #808080;
	overflow: hidden;
}

li{
	float: left;
}

a{
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 10px;
}

a:hover{
	background-color: #000;
}

/*Dropdown button section*/

li .dropdown{
	position: relative;
	background-color: #000;
}
.dropdown-content{
	display:none;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 3s ease;
	-webkit-transition: opacity 3s;

}

.dropdown-content a{
	display: block;
	text-align: left;
	background-color: #808080;
}

.dropdown-content a:hover{
	background-color: #000;
}

.dropdown:hover .dropdown-content{
	display:block;
	opacity: 1;
}

/*Custom tooltip*/

.custom-tooltip{
	position: relative;
	text-decoration: none;
	border-bottom: dotted;
	border-color:#808080;
	border-width: 1px;
}

.tooltip-content{
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #000;
	color: #FFF;
	text-align: left;
	border-radius: 10px;
	padding: 10px;
	opacity: 0;
<<<<<<< HEAD
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 10s;
	-o-transition: opacity 10s;
	transition: opacity 10s;
=======
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;
>>>>>>> 57543f90ffd2bced3bf3d9c005269bcea9e55960
}


.tooltip-content::after{
	content:"";
	position: absolute;
	bottom: 100%;
	left: 25%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #000 transparent;
}

.custom-tooltip:hover + .tooltip-content{
	display: block;
	opacity: 1;
}

/*Searching box*/

.searching-box{
	box-sizing: border;
	display: inline-block;
	width: 3%;
	-webkit-transition: width 0.5s ease-in-out;
	border-radius: 4px;
	background-color: #FFF;
	background-image: url(../pics/search.png);
	background-repeat: no-repeat;
	padding: 5px 40px;
	font-size: 16;
}

input[class="searching-box"]:focus{
	width: 10%;
}
.searching-button{
	padding: 5px 15px;	
	font-size: 16;	
}

/*Counter practice*/

body{
	counter-reset: section;
}

h2::before{
counter-increment: section;
content: "Exercise #" counter(section) ": ";
}