h1{
	color: blue;
}

ul{
	list-style-type: none;
	background-color: #808080;
	overflow: hidden;
}

li{
	float: left;
}

a{
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 10px;
}

a:hover{
	background-color: #000;
}

li .dropdown{
	position: relative;
	background-color: #000;
}
.dropdown-content{
	display:none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a{
	display: block;
	text-align: left;
	background-color: #808080;
}

.dropdown-content a:hover{
	background-color: #000;
}

.dropdown:hover .dropdown-content{
	display:block;
}

.custom-tooltip{
	position: relative;
	text-decoration: none;
	border-bottom: dotted;
	border-color:#808080;
	border-width: 1px;
}

.tooltip-content{
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #000;
	color: #FFF;
	text-align: left;
	border-radius: 10px;
	padding: 10px;
}

.tooltip-content::after{
	content:"";
	position: absolute;
	bottom: 100%;
	left: 25%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #000 transparent;
}

.custom-tooltip:hover + .tooltip-content{
	display: block;
}

