html{
	background: url(../img/Tesla_Broadcast_Tower.jpg) no-repeat center fixed;
	background-size: cover;
/*	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: lighten;*/
}

h1{
	font-size: 50px;
	text-transform: capitalize;
	display: box;
	text-align: center;
}

h2{
	font-size: 30px;
	text-align: center;
}

h3{
	text-align: center;
}

figure figcaption, img{
	text-align: left;
	width: 25%;
	display: block;
	margin: auto;
}

ul{
	list-style-type: none;
}
li{
	padding: 5px 0px;
}
