body, html{
	height: 100%;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;
	padding: 0px;
}

body{
	position: relative;
}

section{
	margin: 0px;
	padding: 0px;
}
/*Navigation Menu*/

/*Big Menu*/	
.big-menu{
	display: block;
	width: 100%;
	height: 3em;
	background-color: #FFF;
	padding: 0px;
	margin: 0px;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.wrapper{
	border-bottom: 1px solid black;
	height: 100%;	
}

.big-menu ul{
	list-style-type: none;
	width: 70%;
	margin: auto;
	padding: 0px;
}

.big-menu li{
	float: right;
	margin: 0px;
	padding: 0px;
}

.big-menu li[class="logo"]{
	display: block;
	height: 1.5em;
	line-height: 1.5em;
	float: left;
	margin: 0px;
	padding: 0em;
	color: #000;
	word-spacing: -10px;
	background-color: #FFF;
	letter-spacing: -2spx;
	font-size: 32px;
}

.big-menu li a{
	display: block;
	padding: 0px;
	height: 3em;
	line-height: 3em;
	text-decoration: none;
	color: #888;
	background-color: #FFF;
	padding: 0px 10px;
	border: #fff solid 1px;
	box-sizing: border-box;
	transition: 0.3s;
}

.big-menu li a:hover{
	color: #fff;
	background-color: #888;
}

.big-menu .logo img{
	float: left;
	display: block;
	max-height: 100%;
	max-width: 100%;
}

/*Social bar*/
.fa{
	color: grey;
	text-decoration: none;
}

.fa:hover{
	color: black;
}

.big-menu .social li a{
	background-color: transparent;
	border-color: transparent;
	transition: 0.3s;
}

.big-menu .social li a:hover{
	transform: scale(1.2, 1.2);
}

/*Small Menu*/
.small-menu{
	display: none;
	width: 90px;
	height: 100%;
	background-color: #fff;
	padding: 0px;
	position: fixed;
	left:0;
	top:0;
}

.small-menu ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

 .small-menu li a{
 	display: block;
	height: 3em;
	max-width: 100%;
	line-height: 3em;
	text-decoration: none;
	color: #888;
	background-color: #fff;
	padding: 0px 10px;
	border: #fff solid 1px;
	/*overflow-x: clip;*/
	margin: 0px;
	transition: 0.3s;
}

.small-menu li a:hover{	
	color: #fff;
	background-color: #888;
}

.small-menu li[class="logo"]{
	display: block;
	height: 3em
	line-height: 3em;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	background-color: #fff;
}

.small-menu .logo img{
	display: block;
	max-height: 100%;
	max-width: 100%;
}
 
/*Dropdown*/
.small-menu .dropdown-menu{
	display: none;
	background-color: #fff;
	text-align: center;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown-menu a{
	transition: 0.3s;
	background-color: transparent !important;
	border-color: transparent !important;
}

.dropdown-menu a:hover{
	transform: scale(1.2, 1.2);
}

/*Responsive*/

@media screen and (max-width: 1000px){
	div[class="big-menu"]{
	display: none;
	}
	div[class="small-menu"]{
	display: block;
	z-index: 1000;
	}
	section{
	padding-left: 90px;
	}
	html{
/*		background: #fff url(../img/background/designer_keyboard_res.jpg) no-repeat fixed center;
		background-size: cover;
*/	}
}


/*sections*/
.home{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	position: relative;
	background: #fff url(../img/background/designer_keyboard_res.jpg) no-repeat fixed center;
	background-size: cover;

}

.home div{
	font-family: Lobster;
	font-size: 60px;
	text-shadow: 0 -1px black, -1px 0 black, 0 1px black, 0 2px 3px grey;
	color: #B57BD6;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about{
	height: 80%;
	width: 100;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background-image: linear-gradient(to right, #78778C, #9F9DBA);
	color: #fff;
	position: relative;
}

.about p{
	width: 30%;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(0px, -50%);
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	text-overflow: ellipsis;
	text-align: justify;
}

/*<img class="icon icons8-Cat-Footprint" width="26" height="26" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAB7UlEQVRIS72WjTEEQRCF30WACBABIkAEiICLgIsAESACLgJEwEWACJCBDKhva/uqr69nd1YpXXV1Vbs9/frn9Zsd6Z9sVIGzIemjw29b0m77firpK/PtAlqV9CSJQBzel/QagpxIunXPeL8zFOjZZcpZqtp0Qaj0PQk6lnQXn5cqooqXJAhVkQB2Iek88aF9VLpgJaAzSVdJkImk6/b5g6SDxGcmaa8WqJTtkSQAsD8BOpR0/8vW3UiiI1WtwwmmrQR/yGBUr5nj/HgXveOcst5D5y2XTDof3nsgAjNcSrc5MPhTSZ+SaGfcI6qChVQOCD62sBaPDowNyAJacpctfZMxVT1ij46d5wQgqIgCeCOrtaqQy04ZkWYAxWrsqF/OIZi0aj0caICi1HQBITu2pI+J2Ebts1hTgEqLR+u8EtNidguxNfpHoS12B6Asi0hT2MUcDcQypU2otSWUATWxjHVxH/x8CI5KRxADg2EoNhaJxVo014wBEQR9YwYctD3yd1IXIfzVAOvYIZInZlNtlzKQCTMBvMYIzrKn1nUfZTPpA2RmdISFX7ASULYLfSD+PSvDnOdWAvoeErWmWyWg7IoYgr2k4iUgmEOv/X301qoIbKK1kAWi8M/PfFEM2Lag9H3fdXb3cyj9Xqst8wcX3Wzr0PH3zAAAAABJRU5ErkJggg==">
*/

.about img{
	max-width: 20%;
	height: auto;
	position: absolute;
	top: 50%;
	right: 25%;
	transform: translate(0px, -50%);
	margin: 0px;
	padding: 0px;
	border-radius: 50%;
}

.projects{
	padding: 0px;
	margin: 0px;
	background-image: linear-gradient(to right, #362440, #B57BD6);
	color: #fff;
	/*font-family: monospace;*/
	text-align: center;
	padding: 3em 0px;
}

.projects iframe{
		padding: 10px;
		display: block;
		margin: 10px auto;
}

.projects h1{
	padding: 1em 0px;
}

.projects .fa{
	color: #fff;
}

.contact{
	height: 25%;
	background-color: transparent;
	/*position: relative;*/
}

.contact div{
/*	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);*/
	width: 70%;
	text-align: center;
}

footer{
	text-align: center;
	padding: 2em;
	margin: 0px;
	background-color: #888;
}

