section{
	display: block;
	text-align: center;
	margin: auto;
}

.nav-menu ul{
	display: block;
	overflow: hidden;
	list-style-type: none;
	width: 50%;
	margin: auto;
}

.nav-menu li{
	float: left;
	padding: 0px;
}

.nav-menu li a{
	display: block;
	text-decoration: none;
	padding: 10px;
}